{% extends "base.html" %}

{% block content %}
    <div class="container">
    <h1>List Packet</h1>
    <h3>TCP</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>packet_id</th>
                <th>ip_header</th>
                <th>tcp_header</th>
                <th>src_ip</th>
                <th>dst_ip</th>
                <th>src_port</th>
                <th>dst_port</th>
                <th>payload_data(hex)</th>
                <th>payload_data</th>
            </tr>
        </thead>
        <tbody>
        {% for packet in TcpList %}
            <tr>
                {% if packet[0] is 0 %}
                <td>{{packet[1].packet_id}}</td>
                <td>{{packet[1].ip_header}}</td>
                <td>{{packet[1].tcp_header}}</td>
                <td>{{packet[2]}}</td>
                <td>{{packet[3]}}</td>
                <td>{{packet[1].src_port}}</td>
                <td>{{packet[1].dst_port}}</td>
                <td>{{packet[4]}}</td>
                <td>{{packet[1].payload_data}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <h3>UDP</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>packet_id</th>
                <th>ip_header</th>
                <th>src_ip</th>
                <th>dst_ip</th>
                <th>src_port</th>
                <th>dst_port</th>
                <th>payload_data(hex)</th>
                <th>payload_data</th>
            </tr>
        </thead>
        <tbody>
        {% for packet in UdpList %}
            <tr>
                {% if packet[0] is 1 %}
                <td>{{packet[1].packet_id}}</td>
                <td>{{packet[1].ip_header}}</td>
                <td>{{packet[2]}}</td>
                <td>{{packet[3]}}</td>
                <td>{{packet[1].src_port}}</td>
                <td>{{packet[1].dst_port}}</td>
                <td>{{packet[4]}}</td>
                <td>{{packet[1].payload_data}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
