{% extends "base.html" %}

{% block content %}
    <div class="container">
    <h1>datetimeSearch</h1>
    <p>round time format: %Y-%m-%d %H:%M:%S</p>
    <p>time space limit 5 min</p>
    <form action="{{ url_for('showDatetimeSearchDif') }}" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.time_start.label }}<br>
            {{ form.time_start(size=32) }}<br>
            {% for error in form.time_start.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.time_end.label }}<br>
            {{ form.time_end(size=32) }}<br>
            {% for error in form.time_end.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <input readonly type="hidden" name="page" value=1>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    </div>
{% endblock %}
