{% extends "base.html" %}

{% block content %}
    <div class="container">
    <h1>Delete Prob</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.problem_id.label }}<br>
            {{ form.problem_id(size=32) }}<br>
            {% for error in form.problem_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    </div>
{% endblock %}
