{% extends "base.html" %}

{% block content %}
    <div class="container">
    <h1>dst_ip Search</h1>
    <form action="{{ url_for('dstIpSearch') }}" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.dst_ip.label }}<br>
            {{ form.dst_ip(size=32) }}<br>
            {% for error in form.dst_ip.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.dst_port.label }}<br>
            {{ form.dst_port(size=32) }}<br>
            {% for error in form.dst_port.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <input readonly type="hidden" name="page" value=1>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    </div>
{% endblock %}
