{% extends "base.html" %}

{% block content %}
    <div class="container">
    <h1>List Packet</h1>
    <h3>TCP</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>packet_id</th>
                <th>ip_header</th>
                <th>tcp_header</th>
                <th>src_ip</th>
                <th>src_port</th>
                <th>dst_ip</th>
                <th>dst_port</th>
                <th>payload_data(hex)</th>
                <th>payload_data</th>
            </tr>
        </thead>
        <tbody>
        {% for packet in TcpList %}
            <tr>
                <td>{{packet[0].packet_id}}</td>
                <td>{{packet[5]}}</td>
                <td>{{packet[6]}}</td>
                <td>{{packet[1]}}</td>
                <td>{{packet[0].src_port}}</td>
                <td>{{packet[2]}}</td>
                <td>{{packet[0].dst_port}}</td>
                <td>{{packet[3]}}</td>
                <td>{{packet[4]}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <h3>UDP</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>packet_id</th>
                <th>ip_header</th>
                <th>src_ip</th>
                <th>src_port</th>
                <th>dst_ip</th>
                <th>dst_port</th>
                <th>payload_data(hex)</th>
                <th>payload_data</th>
            </tr>
        </thead>
        <tbody>
        {% for packet in UdpList %}
            <tr>
                <td>{{packet[0].packet_id}}</td>
                <td>{{packet[5]}}</td>
                <td>{{packet[1]}}</td>
                <td>{{packet[0].src_port}}</td>
                <td>{{packet[2]}}</td>
                <td>{{packet[0].dst_port}}</td>
                <td>{{packet[3]}}</td>
                <td>{{packet[4]}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <form action="{{ url_for('dstIpSearch') }}" method="post">
        <input readonly type="hidden" name="dst_ip" value="{{dst_ip}}">
        <input readonly type="hidden" name="dst_port" value="{{dst_port}}">
	<input readonly type="hidden" name="page" value={{BackPage}}>
	<input type="submit" value="back">
    </form>
    <form action="{{ url_for('dstIpSearch') }}" method="post">
        <input readonly type="hidden" name="dst_ip" value="{{dst_ip}}">
        <input readonly type="hidden" name="dst_port" value="{{dst_port}}">
	<input readonly type="hidden" name="page" value={{FrontPage}}>
	<input type="submit" value="foward">
    </form>
    </div>
{% endblock %}
