{% extends "base.html" %}

{% block content %}
    <body>
        <div class="container">
	<h2>Save Keys: <a href="/inputKeys">inputKeys</a></h2>
        <br>
	
	<h2>Save Pcap And Run: <a href="/inputPcap">inputPcap</a></h2>
        <br>

	<h2>Get info From Backhand: <a href="/getInfo">getInfo</a></h2>
        <br>

	<h2>Upload Test: <a href="/uploadTest">Test</a></h2>
        <br>

        <h2>Prob insert Test: <a href="/inputProb">Test</a></h2>
        <br>

        <h2>Prob delete Test: <a href="/deleteProb">Test</a></h2>
        <br>

        <h2>Prob list Test: <a href="/listProb">Test</a></h2>
        <br>

        <h2>Round insert Test: <a href="/inputRounds">Test</a></h2>
        <br>

        <h2>Round delete Test: <a href="/deleteRound">Test</a></h2>
        <br>

        <h2>Round list Test: <a href="/listRound">Test</a></h2>
        <br>

        <h2>FlagStolen list Test: <a href="/listFlagStolen">Test</a></h2>
        <br>

        <h2>FlagStolen input: <a href="/inputFlagStolen">Test</a></h2>
        <br>

        <h2>FlagStolen delete: <a href="/deleteFlagStolen">Test</a></h2>
        <br>

        <hr>
        </div>
    </body>
{% endblock %}

