{% extends "base.html" %}

{% block content %}
    <body>
        <div class="container">
        <br>
	<table class="table table-bordered">
		<thead>
		    <tr>
			<th>keys</th>
		    </tr>
		</thead>
		<tbody>
		    <tr>
			<td>Save Keys&nbsp;&nbsp;<a href="/inputKeys"><button class="btn btn-info">inputKeys</button></a></td>
		    </tr>
		</tbody>
	</table>
        <br>

	<table class="table table-bordered">
		<thead>
		    <tr>
			<th>Upload</th>
		    </tr>
		</thead>
		<tbody>
		    <tr>
			<td>Upload Test&nbsp;&nbsp;<a href="/uploadTest"><button class="btn btn-info">uploadTest</button></a></td>
		    </tr>
		</tbody>
	</table>
        <br>

	<table class="table table-bordered">
		<thead>
		    <tr>
			<th>Problem</th>
		    </tr>
		</thead>
		<tbody>
		    <tr>
			<td>Prob insert&nbsp;&nbsp;<a href="/inputProb"><button class="btn btn-info">inputProb</button></a></td>
			<td>Prob delete&nbsp;&nbsp;<a href="/deleteProb"><button class="btn btn-info">deleteProb</button></a></td>
			<td>Prob list&nbsp;&nbsp;<a href="/listProb"><button class="btn btn-info">listProb</button></a></td>
		    </tr>
		</tbody>
	</table>
        <br>

	<table class="table table-bordered">
		<thead>
		    <tr>
			<th>Round</th>
		    </tr>
		</thead>
		<tbody>
		    <tr>
			<td>Round insert&nbsp;&nbsp;<a href="/inputRounds"><button class="btn btn-info">inputRounds</button></a></td>
			<td>Round delete&nbsp;&nbsp;<a href="/deleteRound"><button class="btn btn-info">deleteRound</button></a></td>
			<td>Round list&nbsp;&nbsp;<a href="/listRound"><button class="btn btn-info">listRound</button></a></td>
		    </tr>
		</tbody>
	</table>
        <br>

	<table class="table table-bordered">
		<thead>
		    <tr>
			<th>FlagStolen</th>
		    </tr>
		</thead>
		<tbody>
		    <tr>
			<td>FlagStolen list&nbsp;&nbsp;<a href="/listFlagStolen"><button class="btn btn-info">listFlagStolen</button></a></td>
			<td>Search By Vali&nbsp;&nbsp;<a href="/searchByVali?validity=0"><button class="btn btn-info">Search By Vali</button></a></td>
		    </tr>
		</tbody>
	</table>
        <br>

	<table class="table table-bordered">
		<thead>
		    <tr>
			<th>Packets</th>
		    </tr>
		</thead>
		<tbody>
		    <tr>
			<td>tcpAndUdpSearch&nbsp;&nbsp;<a href="/tcpAndUdpSearch?page=1"><button class="btn btn-info">tcpAndUdpSearch</button></a></td>
			<td>datetime Search in raw&nbsp;&nbsp;<a href="/datetimeSearch"><button class="btn btn-info">datetime Search in raw</button></a></td>
			<td>datetime Search in Tcp/Udp&nbsp;&nbsp;<a href="/datetimeSearchDif"><button class="btn btn-info">datetime Search in Tcp/Udp</button></a></td>
			<td>dstIpSearch&nbsp;&nbsp;<a href="/dstIpSearchInput"><button class="btn btn-info">dstIpSearch</button></a></td>
			<td>srcIpSearch&nbsp;&nbsp;<a href="/srcIpSearchInput"><button class="btn btn-info">srcIpSearch</button></a></td>
		    </tr>
		</tbody>
	</table>
        <br>

	<table class="table table-bordered">
		<thead>
		    <tr>
			<th>Temp</th>
		    </tr>
		</thead>
		<tbody>
		    <tr>
			<td>FlagStolen input&nbsp;&nbsp;<a href="/inputFlagStolen"><button class="btn btn-info">inputFlagStolen</button></a></td>
			<td>FlagStolen delete&nbsp;&nbsp;<a href="/deleteFlagStolen"><button class="btn btn-info">deleteFlagStolen</button></a></td>
		    </tr>
		</tbody>
	</table>
        <br>

        <hr>
        </div>
    </body>
{% endblock %}

