{% extends "base.html" %}

{% block content %}
    <div class="container">
    <h1>Input Prob</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.round_number.label }}<br>
            {{ form.round_number(size=32) }}<br>
            {% for error in form.round_number.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.rount_start.label }}<br>
            {{ form.rount_start(size=32) }}<br>
            {% for error in form.rount_start.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.rount_end.label }}<br>
            {{ form.rount_end(size=32) }}<br>
            {% for error in form.rount_end.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    </div>
{% endblock %}
