{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.problem_id.label }}<br>
            {{ form.problem_id(size=32) }}<br>
            {% for error in form.problem_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.problem_name.label }}<br>
            {{ form.problem_name(size=32) }}<br>
            {% for error in form.problem_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
