{% extends "base.html" %}

{% block content %}
    <div class="container">
    <h1>List Prob</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.round_number.label }}<br>
            {{ form.round_number(size=32) }}<br>
            {% for error in form.round_number.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>round_number</th>
                <th>round_start</th>
                <th>round_end</th>
            </tr>
        </thead>
        <tbody>
        {% if Select %}
        {% for select in Select %}
            <tr>
                <td>{{select.round_number}}</td>
                <td>{{select.round_start}}</td>
                <td>{{select.round_end}}</td>
            </tr>
        {% endfor %}
        {% endif %}
        {% for round in List %}
            <tr>
                <td>{{round.round_number}}</td>
                <td>{{round.round_start}}</td>
                <td>{{round.round_end}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
