{% extends "base.html" %}

{% block content %}
    <div class="container">
    <h1>src_ip Search</h1>
    <form action="{{ url_for('srcIpSearch') }}" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.src_ip.label }}<br>
            {{ form.src_ip(size=32) }}<br>
            {% for error in form.src_ip.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.src_port.label }}<br>
            {{ form.src_port(size=32) }}<br>
            {% for error in form.src_port.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <input readonly type="hidden" name="page" value=1>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    </div>
{% endblock %}
