{% extends "base.html" %}

{% block content %}
    <div class="container">
    <h1>Stolen Flag</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>problem_id </th>
                <th>ids </th>
                <th>go </th>
            </tr>
        </thead>
        <tbody>
        {% for prob in Nstolen_list %}
            <tr>
                <td>{{prob[0]}}</td>
                <form action="{{ url_for('stealingPacket') }}" method="post">
			<td><input readonly type="hidden" name="packets" value={{prob[1]}}/>{{prob[1]}}</td>
			<td><input type="submit" value="go"></td>
		</form>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
